<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>552535235656-3nj6b4dcrmtg3cio4s60c2r7jkus4e2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552535235656-3nj6b4dcrmtg3cio4s60c2r7jkus4e2t</string>
	<key>API_KEY</key>
	<string>AIzaSyB3IA0jF63PnyjX8UOKZlmrrHJ_CbBcODI</string>
	<key>GCM_SENDER_ID</key>
	<string>552535235656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.project.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-1d881</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-1d881.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:552535235656:ios:bb5bb5eb0f4fd672f4cc7d</string>
</dict>
</plist>